<% decorated_comment = comment.decorate %>

<div class="comment__inner">
  <%= render partial: "comments/comment_avatar", locals: { comment: comment } %>

  <% if is_page_article == true && comment.root? && !comment.deleted %>
    <div class="inner-comment comment__details<%= " comment--featured" if comment.featured %>" itemprop="<% if comment.featured? %>acceptedAnswer<% else %>suggestedAnswer<% end %>" itemscope itemtype="https://schema.org/Answer">
  <% else %>
    <div class="inner-comment comment__details">
  <% end %>
    <div class="comment__content crayons-card">
      <% if comment.deleted %>
        <div class="p-6 align-center opacity-50 fs-s">
          <span class="js-comment-username"><%= t("views.articles.comments.deleted") %></span>
        </div>
      <% else %>
        <%= render partial: "comments/comment_quality_marker", locals: {
              comment: comment,
              decorated_comment: decorated_comment
            } %>

        <% if comment.featured %>
          <%= render partial: "comments/comment_meta", locals: {
            comment: comment,
            commentable: commentable,
            decorated_comment: decorated_comment
          } %>
        <% end %>

        <%= render partial: "comments/comment_header", locals: {
              comment: comment,
              commentable: commentable,
              decorated_comment: decorated_comment,
              is_page_article: is_page_article
            } %>

        <div
          class="
            comment__body
            text-styles
            text-styles--secondary
            body
            <%= "color-base-60" if comment.decorate.low_quality %>
            <%= should_be_hidden?(comment, @root_comment) ? "element-hidden-by-commentable-user" : "" %>
          "<% if is_page_article == true && comment.root? %> itemprop="text"<% end %>>
          <%= comment.safe_processed_html %>
          <% if comment.featured %>
            <div class="mx-auto mt-4" id="end-featured-answer">
              <ins class="adsbygoogle"
                   style="display:block; text-align:center;"
                   data-ad-layout="in-article"
                   data-ad-format="fluid"
                   data-ad-client="ca-pub-0261018540053685"
                   data-ad-slot="5107891218"></ins>
              <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
          <% end %>
        </div>

        <% if should_be_hidden?(comment, @root_comment) %>
          <div class="p-6 align-center opacity-50 fs-s hidden comment-hidden-by-author-text">
            Comment hidden by author
          </div>
        <% end %>
      <% end %>
    </div>

    <%= unless comment.deleted || commentable.nil? || should_be_hidden?(comment, @root_comment)
          (render partial: "comments/comment_footer", locals: {
            comment: comment,
            commentable: commentable,
            is_childless: is_childless,
            is_page_article: is_page_article
          })
        end %>
  </div>
</div>
<%= subtree_html %>
