<% if articles && articles.any? %>
  <section class="crayons-card crayons-card--secondary text-padding mb-4 print-hidden" id="bottom-content-read-next">
    <h2 class="crayons-subtitle-1"><%= t("views.articles.similar_questions") %></h2>
    <% articles.each do |article| %>
      <a href="<%= article.path %>" data-preload-image="<%= cloud_cover_url(article.main_image) %>" class="crayons-link mt-6 block">
        <div class="flex items-center">
          <div>
            <h3 class="fs-xl mb-0 lh-tight"><%= article.title %></h3>
            <p class="opacity-75 pt-1">
              <%= article.cached_user.name %> - <time datetime="<%= article.published_timestamp %>"><%= article.readable_publish_date %></time>
            </p>
          </div>
        </div>
      </a>
    <% end %>
  </section>
<% end %>
